<!doctype html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/_astro/favicon.Cx_LjgYc.jpg" />
  <title>George Baskerville</title>
  <meta name="description" content="George Baskerville's personal website." />
  <meta property="og:title" content="George Baskerville" />
  <meta property="og:description" content="George Baskerville's personal website." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/_astro/icon.BsFpH_F6.jpg" />
  <meta property="og:url" content="https://georgebaskerville.me/" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="https://georgebaskerville.me/sitemap-index.xml" />
  <link rel="stylesheet" href="/_astro/contact.CJUtR9d3.css" />
  <script type="module" src="/_astro/hoisted.AeAG-5qU.js"></script>
  <script type="module" src="/_astro/page.DFwqf4PB.js"></script>
</head>
<div class="background-animation"></div>
<html class="bg-base-100 text-base-content overflow-y-scroll" lang="en">

<body>
  <script src="/javascript/scrolllock-strict.js" defer></script>
  <div class="mx-auto min-h-screen flex flex-col gap-9 px-10 py-8 md:gap-20 md:py-8">
    <header class="flex w-full gap-3 md:gap-2 flex-row justify-between pb-5 md:pb-0">
      <a href="/" class="text-sm md:text-xl lg:text-xl whitespace-nowrap mr-4 text-text">George Baskerville</a>
      <nav class="text-xs md:text-sm lg:text-sm custom-breadcrumbs text-text">
        <ul>
          <li><a class="text-accent" href="/">Home</a></li>
          <li><a class="" href="https://blog.geor.me/">Posts</a></li>
          <li><a class="" href="https://pixelfed.geor.me/">Pictures</a></li>
          <li><a class="" href="/contact">Contact</a></li>
          <li><a class="" href="/licensing">Licensing</a></li>
          <li><a class="" href="/extras">Extras</a></li>
          <li><a class="" href="/credits">Credits</a></li>
          <li><a class="" href="/privacy">Privacy</a></li>
        </ul>
      </nav>
    </header>
    <div class="flex-grow">
      <main>
        <div class="flex flex-col gap-10">
          <article class="md:flex-row-reverse md:justify-end md:gap-12">
            <div class="flex flex-row justify-between sm:grid-cols-3 items-center">
              <div class="col-span-2 flex flex-col gap-6 md:gap-8 my-auto">
                <h1 class="lg:text-4xl md:text-3xl font-bold text-2xl text-text">
                  Hi, I’m George
                </h1>
                <h2 class="w-[90%] leading-6 text-sm sm:text-base text-text">
                  I'm a student. I've been interested in the web for a long
                  time, making my first site 5 years ago. I'm also a digital
                  privacy advocate and a dark mode enthusiast.
                </h2>
                <div class="custom-breadcrumbs text-white">
                  <ul>
                    <li>
                      <a href="https://x.com/georgebaskervil" rel="noreferrer" target="_blank" class="text-accent">
                        X
                      </a>
                    </li>
                    <li>
                      <a href="https://mastodon.geor.me/" rel="noreferrer" target="_blank" class="text-accent">
                        Mastodon
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/georgebaskervil" rel="noreferrer" target="_blank" class="text-accent">
                        GitHub
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <link rel="stylesheet" href="/styles/avatar.css" />
              <picture class="image-container rounded-lg border-neutral">
                <img src="/brand-assets/icon.webp" alt="My avatar" loading="eager" width="600" height="391"
                  decoding="async" />
              </picture>
            </div>
          </article>
          <article class="flex flex-col gap-3">
            <header class="flex w-full flex-row justify-between gap-2">
              <h3 class="text-lg pb-2 text-text">My open-source projects:</h3>
              <a href="https://github.com/georgebaskervil?tab=repositories"
                class="text-sm text-accent no-underline hover:underline" target="_self" rel="noreferrer">
                See all projects
              </a>
            </header>
            <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
              <div
                class="p-4 rounded-lg border border-neutral shadow-md hover:scale-105 transition-transform duration-300">
                <a href="https://github.com/Libreverse/Libreverse/" target="_blank" rel="noreferrer">
                  <div class="flex justify-between gap-3 flex-row items-start">
                    <p class="font-semibold text-lg text-text">Libreverse</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#e08073"
                      class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1 md:group-hover:translate-y-1">
                      <path d="M17 7l-10 10"></path>
                      <path d="M8 7l9 0l0 9"></path>
                    </svg>
                  </div>
                  <div class="text-text mt-1">The open-source metaverse.</div>
                </a>
              </div>
              <div
                class="p-4 rounded-lg border border-neutral shadow-md hover:scale-105 transition-transform duration-300">
                <a href="https://github.com/georgebaskervil/Personal-Website-Rails" target="_blank" rel="noreferrer">
                  <div class="flex justify-between gap-3 flex-row items-start">
                    <p class="font-semibold text-lg text-text">
                      Personal Website Rails Port
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#e08073"
                      class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1 md:group-hover:translate-y-1">
                      <path d="M17 7l-10 10"></path>
                      <path d="M8 7l9 0l0 9"></path>
                    </svg>
                  </div>
                  <div class="text-text mt-1">
                    My personal website ported to Ruby on Rails.
                  </div>
                </a>
              </div>
              <div
                class="p-4 rounded-lg border border-neutral shadow-md hover:scale-105 transition-transform duration-300">
                <a href="https://github.com/georgebaskervil/Personal-Website" target="_blank" rel="noreferrer">
                  <div class="flex justify-between gap-3 flex-row items-start">
                    <p class="font-semibold text-lg text-text">
                      Personal Website
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#e08073"
                      class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1 md:group-hover:translate-y-1">
                      <path d="M17 7l-10 10"></path>
                      <path d="M8 7l9 0l0 9"></path>
                    </svg>
                  </div>
                  <div class="text-text mt-1">
                    My personal website built with Astro, TypeScript, and
                    Tailwind CSS.
                  </div>
                </a>
              </div>
              <div
                class="p-4 rounded-lg border border-neutral shadow-md hover:scale-105 transition-transform duration-300">
                <a href="https://github.com/georgebaskervil/dnsfilterlists" target="_blank" rel="noreferrer">
                  <div class="flex justify-between gap-3 flex-row items-start">
                    <p class="font-semibold text-lg text-text">
                      DNS Filterlists
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#e08073"
                      class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1 md:group-hover:translate-y-1">
                      <path d="M17 7l-10 10"></path>
                      <path d="M8 7l9 0l0 9"></path>
                    </svg>
                  </div>
                  <div class="text-text mt-1">
                    A collection of DNS filterlists intended for use with
                    AdGuard Home.
                  </div>
                </a>
              </div>
              <div
                class="p-4 rounded-lg border border-neutral shadow-md hover:scale-105 transition-transform duration-300">
                <a href="https://github.com/Libreverse/Libreverse-website" target="_blank" rel="noreferrer">
                  <div class="flex justify-between gap-3 flex-row items-start">
                    <p class="font-semibold text-lg text-text">
                      Libreverse Website
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#e08073"
                      class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1 md:group-hover:translate-y-1">
                      <path d="M17 7l-10 10"></path>
                      <path d="M8 7l9 0l0 9"></path>
                    </svg>
                  </div>
                  <div class="text-text mt-1">
                    The website for the libreverse.
                  </div>
                </a>
              </div>
              <div
                class="p-4 rounded-lg border border-neutral shadow-md hover:scale-105 transition-transform duration-300">
                <a href="https://github.com/Libreverse/core-js-custom" target="_blank" rel="noreferrer">
                  <div class="flex justify-between gap-3 flex-row items-start">
                    <p class="font-semibold text-lg text-text">
                      core-js-custom
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#e08073"
                      class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1 md:group-hover:translate-y-1">
                      <path d="M17 7l-10 10"></path>
                      <path d="M8 7l9 0l0 9"></path>
                    </svg>
                  </div>
                  <div class="text-text mt-1">
                    A custom version of core-js made for Libreverse.
                  </div>
                </a>
              </div>
              <div
                class="p-4 rounded-lg border border-neutral shadow-md hover:scale-105 transition-transform duration-300">
                <a href="https://github.com/georgebaskervil/twemoji-tweaked" target="_blank" rel="noreferrer">
                  <div class="flex justify-between gap-3 flex-row items-start">
                    <p class="font-semibold text-lg text-text">
                      twemoji-tweaked
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#e08073"
                      class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1 md:group-hover:translate-y-1">
                      <path d="M17 7l-10 10"></path>
                      <path d="M8 7l9 0l0 9"></path>
                    </svg>
                  </div>
                  <div class="text-text mt-1">
                    A custom version of twemoji merging some pull requests
                    that X Corp has not gotten round to yet.
                  </div>
                </a>
              </div>
              <div
                class="p-4 rounded-lg border border-neutral shadow-md hover:scale-105 transition-transform duration-300">
                <a href="https://github.com/georgebaskervil" target="_blank" rel="noreferrer">
                  <div class="flex justify-between gap-3 flex-row items-start">
                    <p class="font-semibold text-lg text-text">
                      And more to come
                    </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#e08073"
                      class="tabler-icon tabler-icon-arrow-up-right transition-none md:transition-all md:duration-300 md:group-hover:translate-x-1 md:group-hover:translate-y-1">
                      <path d="M17 7l-10 10"></path>
                      <path d="M8 7l9 0l0 9"></path>
                    </svg>
                  </div>
                  <div class="text-text mt-1">
                    I&#39;m always working on new projects!
                  </div>
                </a>
              </div>
            </section>
          </article>
        </div>
      </main>
    </div>
  </div>
  <link rel="stylesheet" href="/styles/globals.css" />
</body>

</html>