<div class="hp-main">
  <article class="hp-article">
    <div class="hp-rows">
      <div class="hp-columns">
        <h1 class="hp-h1">
          Hi, I’m George
        </h1>
        <h2 class="hp-h2">
          I'm a students. I've been interested in the web for a long
	        time, making my first site 5 years ago. I'm also a digital privacy
	        advocate and a dark mode enthusiast.
        </h2>
        <div class="custom-breadcrumbs hp-li-div">
          <ul>
            <li>
              <a href="https://x.com/georgebaskervil" rel="noreferrer" target="_blank" class="text-accent">
                X
              </a>
            </li>
            <li>
              <a href="https://fedi.geor.me/" rel="noreferrer" target="_blank" class="text-accent">
                Fediverse
              </a>
            </li>
            <li>
              <a href="https://github.com/georgebaskervil" rel="noreferrer" target="_blank" class="text-accent">
                GitHub
              </a>
            </li>
            <li>
              <a href="https://versioncontrol.geor.me/explore/repos" rel="noreferrer" target="_blank" class="text-accent">
                Gitea
              </a>
            </li>
          </ul>
        </div>
      </div>
      <picture class="image-container hp-picture">
        <%= image_tag("icon.jpg", alt: "A picture of me", loading: "eager", width: "654", height: "654", decoding: "async",) %>
      </picture>
    </div>
  </article>
  <article class="hp-article-2">
    <header class="hp-header">
      <h3 class="hp-h3">My OSS projects:</h3>
      <a href="https://github.com/georgebaskervil?tab=repositories"
        class="hp-small-link" target="_self" rel="noreferrer">
        See all projects
      </a>
    </header>
    <section class="hp-section">
      <div class="hp-proj-div">
        <a href="https://github.com/Libreverse/Libreverse/" target="_blank" rel="noreferrer">
          <div class="hp-proj-internals">
            <p class="hp-proj-title">Libreverse</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#ee7d82" class="hp-proj-svg">
              <path d="M17 7l-10 10"></path>
              <path d="M8 7l9 0l0 9"></path>
            </svg>
          </div>
          <div class="hp-proj-desc">The open-source metaverse.</div>
        </a>
      </div>
      <div
        class="hp-proj-div">
        <a href="https://github.com/georgebaskervil/Personal-Website-Rails" target="_blank" rel="noreferrer">
          <div class="hp-proj-internals">
            <p class="hp-proj-title">
              Personal Website Rails Port
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#ee7d82" class="hp-proj-svg">
              <path d="M17 7l-10 10"></path>
              <path d="M8 7l9 0l0 9"></path>
            </svg>
          </div>
          <div class="hp-proj-desc">
            My personal website ported to Ruby on Rails.
          </div>
        </a>
      </div>
      <div
        class="hp-proj-div">
        <a href="https://github.com/georgebaskervil/Personal-Website" target="_blank" rel="noreferrer">
          <div class="hp-proj-internals">
            <p class="hp-proj-title">
              Personal Website
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#ee7d82" class="hp-proj-svg">
              <path d="M17 7l-10 10"></path>
              <path d="M8 7l9 0l0 9"></path>
            </svg>
          </div>
          <div class="hp-proj-desc">
            My personal website built with Astro, TypeScript, and
            Tailwind CSS.
          </div>
        </a>
      </div>
      <div
        class="hp-proj-div">
        <a href="https://github.com/georgebaskervil/dnsfilterlists" target="_blank" rel="noreferrer">
          <div class="hp-proj-internals">
            <p class="hp-proj-title">
              DNS Filterlists
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#ee7d82" class="hp-proj-svg">
              <path d="M17 7l-10 10"></path>
              <path d="M8 7l9 0l0 9"></path>
            </svg>
          </div>
          <div class="hp-proj-desc">
            A collection of DNS filterlists intended for use with
            AdGuard Home.
          </div>
        </a>
      </div>
      <div
        class="hp-proj-div">
        <a href="https://github.com/Libreverse/Libreverse-website" target="_blank" rel="noreferrer">
          <div class="hp-proj-internals">
            <p class="hp-proj-title">
              Libreverse Website
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#ee7d82" class="hp-proj-svg">
              <path d="M17 7l-10 10"></path>
              <path d="M8 7l9 0l0 9"></path>
            </svg>
          </div>
          <div class="hp-proj-desc">
            The website for the libreverse.
          </div>
        </a>
      </div>
      <div
        class="hp-proj-div">
        <a href="https://github.com/Libreverse/core-js-custom" target="_blank" rel="noreferrer">
          <div class="hp-proj-internals">
            <p class="hp-proj-title">
              core-js-custom
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#ee7d82" class="hp-proj-svg">
              <path d="M17 7l-10 10"></path>
              <path d="M8 7l9 0l0 9"></path>
            </svg>
          </div>
          <div class="hp-proj-desc">
            A custom version of core-js made for Libreverse.
          </div>
        </a>
      </div>
      <div
        class="hp-proj-div">
        <a href="https://github.com/georgebaskervil/twemoji-tweaked" target="_blank" rel="noreferrer">
          <div class="hp-proj-internals">
            <p class="hp-proj-title">
              twemoji-tweaked
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#ee7d82" class="hp-proj-svg">
              <path d="M17 7l-10 10"></path>
              <path d="M8 7l9 0l0 9"></path>
            </svg>
          </div>
          <div class="hp-proj-desc">
            A custom version of twemoji merging some pull requests and adding some new features.
          </div>
        </a>
      </div>
      <div
        class="hp-proj-div">
        <a href="https://github.com/georgebaskervil" target="_blank" rel="noreferrer">
          <div class="hp-proj-internals">
            <p class="hp-proj-title">
              And more to come...
            </p>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" color="#ee7d82" class="hp-proj-svg">
              <path d="M17 7l-10 10"></path>
              <path d="M8 7l9 0l0 9"></path>
            </svg>
          </div>
          <div class="hp-proj-desc">
            I&#39;m always working on new projects! You can find them on my GitHub.
          </div>
        </a>
      </div>
    </section>
  </article>
</div>