<div class="container py-0 w-full">
  <h1 class="text-4xl font-bold mb-4 text-text" style="font-size: 2.5rem; margin-bottom: 24px">
    Privacy Notice
  </h1>
  <p class="text-text" style="margin-bottom: 16px">
    Privacy is a topic I care deeply about. I've put this notice here
    for full transparency about how exactly this website uses your
    personal data.
  </p>
  <p class="text-text" style="margin-bottom: 16px">
    There used to be a section about Umami analytics here, but I have
    since removed all analytics from this site.
  </p>
  <p class="text-text" style="margin-bottom: 16px">
    I don't want to track you, I just want to share my thoughts with
    you &lt;3.
  </p>
</div>
<p class="text-text" style="margin-bottom: 16px">
  <strong>Section 1: Providers</strong>
</p>
<p class="text-text" style="margin-bottom: 16px">
  This site is hosted on Vultr Cloud. Vultr could collect data from your interactions with this site. 
  For more information, please see Vultr's Privacy Policy
  at
  <a href="https://www.vultr.com/legal/privacy/" target="_blank"
    class="text-accent no-underline hover:underline">vultr.com/legal/privacy/</a>
</p>