<div class="mx-auto min-h-screen flex flex-col gap-9 px-10 py-8 md:gap-20 md:py-8">
  <header class="flex w-full gap-3 md:gap-2 flex-row justify-between pb-5 md:pb-0">
    <a href="/" class="text-sm md:text-xl lg:text-xl whitespace-nowrap mr-4 text-text">George Baskerville</a>
    <nav class="text-xs md:text-sm lg:text-sm custom-breadcrumbs text-text">
      <ul>
        <li><a class="" href="/">Home</a></li>
        <li><a class="" href="https://blog.geor.me/">Posts</a></li>
        <li><a class="" href="https://pixelfed.geor.me/">Pictures</a></li>
        <li><a class="" href="/contact">Contact</a></li>
        <li><a class="" href="/licensing">Licensing</a></li>
        <li><a class="" href="/extras">Extras</a></li>
        <li><a class="" href="/credits">Credits</a></li>
        <li><a class="text-accent" href="/privacy">Privacy</a></li>
      </ul>
    </nav>
  </header>
  <div class="flex-grow">
    <main>
      <div class="container py-0 w-full">
        <h1 class="text-4xl font-bold mb-4 text-text" style="font-size: 2.5rem; margin-bottom: 24px">
          Privacy Notice
        </h1>
        <p class="text-text" style="margin-bottom: 16px">
          Privacy is a topic I care deeply about. I've put this notice here
          for full transparency about how exactly this website uses your
          personal data.
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          There used to be a section about Umami analytics here, but I have
          since removed all analytics from this site.
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          I don't want to track you, I just want to share my thoughts with
          you &lt;3.
        </p>
      </div>
      <p class="text-text" style="margin-bottom: 16px">
        <strong>Section 1: Providers</strong>
      </p>
      <p class="text-text" style="margin-bottom: 16px">
        This site is hosted by Netlify. Netlify may collect data for various
        purposes. For more information, please see Netlify's Privacy Policy
        at
        <a href="https://www.netlify.com/privacy" target="_blank"
          class="text-accent no-underline hover:underline">netlify.com/privacy</a>
      </p>
    </main>
  </div>
</div>