<div class="priv-main">
  <h1 class="priv-h1">
    Privacy Notice
  </h1>
  <p class="priv-p">
    Privacy is a topic I care deeply about. I've put this notice here
    for full transparency about how exactly this website uses your
    personal data.
  </p>
  <p class="priv-p">
    There used to be a section about Umami analytics here, but I have
    since removed all analytics from this site.
  </p>
  <p class="priv-p">
    I don't want to track you, I just want to share my thoughts with
    you &lt;3.
  </p>
</div>
<p class="priv-p">
  <strong>Section 1: Providers</strong>
</p>
<p class="priv-p">
  This site is hosted on Vultr Cloud. Vultr could collect data from your interactions with this site. 
  For more information, please see Vultr's Privacy Policy
  at
  <a href="https://www.vultr.com/legal/privacy/" target="_blank"
    class="priv-link">vultr.com/legal/privacy/</a>
</p>
<p class="priv-p">
  This site is hosted on Vultr Cloud. Vultr could collect data from your interactions with this site. 
  For more information, please see Vultr's Privacy Policy
  at
  <a href="https://www.vultr.com/legal/privacy/" target="_blank"
    class="priv-link">vultr.com/legal/privacy/</a>
</p>
