<div class="priv-main">
  <h1 class="priv-h1">
    Privacy Notice
  </h1>
  <p class="priv-p">
    Privacy is a topic I care deeply about. I've put this notice here
    for full transparency about how exactly this website uses your
    personal data.
  </p>
</div>
<p class="priv-p">
  <strong>Section 1: Providers</strong>
</p>
<p class="priv-p">
  This site is hosted on Vultr Cloud. See 
  <a href="https://www.vultr.com/legal/privacy/" target="_blank"
    class="priv-link">The Constant Company, LLC Privacy Notice</a>
    for more information.
</p>
<p class="priv-p">
  This site uses Akismet, a service provided by Automattic, which is used for filtering public comments for spam. See the
  <a href="https://akismet.com/privacy" target="_blank"
    class="priv-link">Automattic, Inc Privacy Notice</a>
  for more information.
</p>
<p class="priv-p">
  This site uses Wordfence, a service provided by Defiant, which is used for security on portions of the site.
  See the
  <a href="https://www.wordfence.com/privacy-policy/" target="_blank"
    class="priv-link">Defiant, Inc Privacy Notice</a>
  for more information.
</p>
<p class="priv-p">
  Please note specifically this site's participation
  in the Wordfence real-time security network, which may collect and share your IP address, 
  among other items of PII, if you are determined to be acting in a way that presents a 
  security threat by the automated security systems on this site.
</p>
<p class="priv-p">
  <strong>Section 2: Analytics and Error reporting</strong>
</p>
<p class="priv-p">
  This site uses Umami Analytics for Analytics. See the
  <a href="https://umami.is/privacy" target="_blank"
    class="priv-link">Umami Software Privacy Notice</a>
    for more information.
</p>
<p class="priv-p">
  This site uses GlitchTip to track errors that may occur. See the
  <a href="https://glitchtip.com/legal/privacy" target="_blank"
    class="priv-link">GlitchTip Privacy Notice</a>
    for more information.
</p>
