<h1 class="priv-h1">
  Privacy Notice
</h1>
<p class="priv-p">
  Privacy is a topic I care deeply about. I've put this notice here for full
  transparency about how exactly this website uses your personal data.
</p>
<p class="priv-p">
  <strong>Section 1: Providers</strong>
</p>
<p class="priv-p">
  This site is hosted on Vultr Cloud. See
  <a
    href="https://www.vultr.com/legal/privacy/"
    target="_blank"
    class="priv-link"
    rel="noopener"
  >The Constant Company, LLC Privacy Notice</a>
  for more information.
</p>
<p class="priv-p">
  <strong>Section 2: Analytics and Error reporting</strong>
</p>
<p class="priv-p">
  This site uses Umami Analytics for Analytics. See the
  <a href="https://umami.is/privacy" target="_blank" rel="noopener" class="priv-link">Umami Software Privacy Notice</a>
  for more information.
</p>
<p class="priv-p">
  This site uses GlitchTip to track errors that may occur. See the
  <a href="https://glitchtip.com/legal/privacy" target="_blank" rel="noopener" class="priv-link">GlitchTip Privacy Notice</a>
  for more information.
</p>
