<h1 class="eighty-h1">My 88x31 Badges</h1>
<p class="eighty-p">
  The 90s internet is something wish i'd been around for. Here's my tribute to
  the legacy of 88x31 badges.
</p>
<p class="eighty-p">These are badges I found at
  <a href="http://88x31.nl/" class="eighty-link">88x31nl</a>
  and
  <a href="https://88x31db.com/" class="eighty-link">88x13db</a></p>
<p class="eighty-p"><strong>Nuked because I have anxiety and will not sleep well at night knowing that
    there's even the slightest possibility of copyright trolls coming after me.
    Sorry!</strong></p>
<div class="badge-grid">
</div>
<p class="eighty-p"><strong>My 88x31 Badge</strong></p>
<p class="eighty-p">I will put one here when I get round to making it</p>
