<p class="text-analytics">There will be more stuff here once I code it up fully</p>
<p class="text-analytics"><%= HttpReqCounter.first.count || 0 %> HTTP requests have been made to this site and a random number is <%= @random_number %>.</p>