<div class="a-main">    
    <h1 class="a-h1">Analytics</h1>
    <p class="a-p">I started coding this up, but then realised that it would be easier to do with using Umami Share URLs. Here's the one metric that I did code up, and then here's the Umami share URLs for the rest</p>
    <p class="a-p"><%= HttpReqCounter.first.count || 0 %> HTTP requests have been made to this site</p>
    <ul>
        <li><a href="https://analytics.geor.me/share/3CucbkHlgeEx01ui/geor.me" class="a-link">Main Site Umami share URL</a></li>
        <li><a href="https://analytics.geor.me/share/6nppHd4ttenenPAR/blog.geor.me" class="a-link">Blog Umami share URL</a></li>
    </ul>
</div>
