<h1 class="dmca-h1">DMCA Notice</h1>
<p class="dmca-p">DMCA is stupid, but my hosting provider requires that I have this page.</p>
<p class="dmca-p"><strong>Agent for receipt of copyright infringement notices</strong></p>
<p class="dmca-p">Email all DMCA complaints to this address:</p>
<a href="mailto:resists-oysters.0s@icloud.com" class="dmca-link">resists-oysters.0s@icloud.com</a>
