<div class="misc-main">
  <h1 class="misc-h1">
    Miscellaneous Items
  </h1>
  <p class="misc-p">
    The pages on this site that don't fit anywhere else.
  </p>
</div>
<p class="misc-p">
  <strong>1: Netflix, Do Better</strong>
</p>
<p class="misc-p">
  This was a meme about the page the used to exist on the Netflix site that
  just contained an h1 with "Hello World!!". Due to global includes, the page
  used ~400kb of javascript to do this. This is my version without any JS,
  which is about 40 bytes.
</p>
<p class="misc-p">
  Link:
  <a href="/netflixdobetter" class="misc-link">Netflix, Do Better</a>
</p>
