<h1 class="legal-h1">
  Legal Pages
</h1>
<p class="legal-p">
  The pages on this site that exist for legal purposes.
</p>
<p class="legal-p">
  <strong>1: Licensing</strong>
</p>
<p class="legal-p">
  A page containing information about the licenses of the code and content on
  this site.
</p>
<p class="legal-p">
  Link:
  <a href="/licensing" class="legal-link">Licensing</a>
</p>
<p class="legal-p">
  <strong>2: Privacy</strong>
</p>
<p class="legal-p">
  A page containing information about the use of user data by this site.
</p>
<p class="legal-p">
  Link:
  <a href="/privacy" class="legal-link">Privacy Policy</a>
</p>
<p class="legal-p">
  <strong>3: DMCA</strong>
</p>
<p class="legal-p">
  A page that exists to comply with my cloud host's policy on the Digital
  Millennium Copyright Act.
</p>
<p class="legal-p">
  Link:
  <a href="/dmca" class="legal-link">DMCA Policy</a>
</p>
<p class="legal-p">
  <strong>4: Credits</strong>
</p>
<p class="legal-p">
  A page containing the credits for this site.
</p>
<p class="legal-p">
  Link:
  <a href="/credits" class="legal-link">Credits</a>
</p>
<p class="legal-p">
  <strong>5: DOOM Disclaimer</strong>
</p>
<p class="legal-p">
  A page containing the legal disclaimer for the use of the DOOM game on this
  site.
</p>
<p class="legal-p">
  Link:
  <a href="/credits" class="legal-link">Credits</a>
</p>
