<!doctype html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/_astro/favicon.Cx_LjgYc.jpg" />
  <title>George Baskerville</title>
  <meta name="description" content="George Baskerville's personal website." />
  <meta property="og:title" content="George Baskerville" />
  <meta property="og:description" content="George Baskerville's personal website." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/_astro/icon.BsFpH_F6.jpg" />
  <meta property="og:url" content="https://georgebaskerville.me/licensing/" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="https://georgebaskerville.me/sitemap-index.xml" />
  <link rel="stylesheet" href="/_astro/contact.CJUtR9d3.css" />
  <script type="module" src="/_astro/hoisted.AeAG-5qU.js"></script>
  <script type="module" src="/_astro/page.DFwqf4PB.js"></script>
</head>
<div class="background-animation"></div>
<html class="bg-base-100 text-base-content overflow-y-scroll" lang="en">

<body>
  <script src="/javascript/scrolllock-strict.js" defer></script>
  <div class="mx-auto min-h-screen flex flex-col gap-9 px-10 py-8 md:gap-20 md:py-8">
    <header class="flex w-full gap-3 md:gap-2 flex-row justify-between pb-5 md:pb-0">
      <a href="/" class="text-sm md:text-xl lg:text-xl whitespace-nowrap mr-4 text-text">George Baskerville</a>
      <nav class="text-xs md:text-sm lg:text-sm custom-breadcrumbs text-text">
        <ul>
          <li><a class="" href="/">Home</a></li>
          <li><a class="" href="https://blog.geor.me/">Posts</a></li>
          <li><a class="" href="https://pixelfed.geor.me/">Pictures</a></li>
          <li><a class="" href="/contact">Contact</a></li>
          <li><a class="text-accent" href="/licensing">Licensing</a></li>
          <li><a class="" href="/extras">Extras</a></li>
          <li><a class="" href="/credits">Credits</a></li>
          <li><a class="" href="/privacy">Privacy</a></li>
        </ul>
      </nav>
    </header>
    <div class="flex-grow">
      <main>
        <div class="container py-0 w-full">
          <h1 class="text-4xl font-bold mb-4 text-text" style="font-size: 2.5rem; margin-bottom: 24px">
            How my work is licensed
          </h1>
          <p class="text-text" style="margin-bottom: 16px">
            Since I based this site on a template, I have adopted a dual
            liscencing model for my work.
          </p>
        </div>
        <p class="text-text" style="margin-bottom: 16px">
          <strong>Section 1: Site Code</strong>
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          The code of this site is liscenced under the MIT licence due to the
          temple I used being liscenced under the MIT licence. The MIT license
          is a permissive free software license recognised by the Open Source
          Initiative. Read the license on the
          <a href="https://opensource.org/license/mit" target="_blank"
            class="text-accent no-underline hover:underline">OSI website</a>
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          <strong>Section 2: Site Content</strong>
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          The content on this site is under the licensced Creative Commons
          Zero v1.0 Universal so that people can do what they want with it. I
          found this license on GitHub. Read the license on
          <a href="https://choosealicense.com/licenses/cc0-1.0/" target="_blank"
            class="text-accent no-underline hover:underline">choosealicense.com.</a>
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          Where applicable, I have included download instructions like these:
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          (Note that the "GitHub repo" is a hyperlink to section of the GitHub
          repo where the content can be downloaded.)
        </p>
        <p class="bottom-0 text-left text-white text-sm mt-0 mb-3" style="opacity: 0.4">
          Images licensed under CC0 1.0 Universal. Download them on the
          <a href="https://github.com/georgebaskervil/Personal-Website/tree/main/data/images" class="hover:underline"
            target="_blank">GitHub repo</a>
        </p>
        <p class="bottom-0 text-left text-white text-sm mt-0 mb-5" style="opacity: 0.4">
          Articles licensed under CC0 1.0 Universal. Download them on the
          <a href="https://github.com/georgebaskervil/Personal-Website/tree/main/src/content/posts"
            class="hover:underline" target="_blank">GitHub repo</a>
        </p>
      </main>
    </div>
  </div>
  <link rel="stylesheet" href="/styles/globals.css" />
</body>

</html>