<div class="cr-main">
  <h1 class="cr-h1">
    Site Credits
  </h1>
  <p class="cr-p">
    This sitie was originally built with Astro, Tailwind, and
    TypeScript by George Baskerville. It was based on a template by
    Tahir Murata (now taken down). It has since been ported to Ruby on
    Rails and Hotwired. It still uses the
    <a href="https://fonts.google.com/specimen/Space+Mono" target="_blank" rel="noopener noreferrer"
      class="cr-link">Space Mono</a>
    font.
    <a href="https://github.com/georgebaskervil/Personal-Website-Rails" target="_blank"
      rel="noopener noreferrer" class="cr-link">The source code is available under MIT
      license.</a>
  </p>
</div>