<div class="container py-0 w-full">
  <h1 class="text-4xl font-bold mb-4 text-text" style="font-size: 2.5rem; margin-bottom: 24px">
    Site Credits
  </h1>
  <p class="text-text" style="margin-bottom: 16px">
    This sitie was originally built with Astro, Tailwind, and
    TypeScript by George Baskerville. It was based on a template by
    Tahir Murata (now taken down). It has since been ported to Ruby on
    Rails and Hotwired. It still uses the
    <a href="https://fonts.google.com/specimen/Space+Mono" target="_blank" rel="noopener noreferrer"
      class="text-accent hover:underline">Space Mono</a>
    font.
    <a href="https://github.com/georgebaskervil/Personal-Website-Rails" target="_blank"
      rel="noopener noreferrer" class="text-accent hover:underline">The source code is available under MIT
      license.</a>
  </p>
</div>