<div class="mx-auto min-h-screen flex flex-col gap-9 px-10 py-8 md:gap-20 md:py-8">
  <header class="flex w-full gap-3 md:gap-2 flex-row justify-between pb-5 md:pb-0">
    <a href="/" class="text-sm md:text-xl lg:text-xl whitespace-nowrap mr-4 text-text">George Baskerville</a>
    <nav class="text-xs md:text-sm lg:text-sm custom-breadcrumbs text-text">
      <ul>
        <li><a class="" href="/">Home</a></li>
        <li><a class="" href="https://blog.geor.me/">Posts</a></li>
        <li><a class="" href="https://pixelfed.geor.me/">Pictures</a></li>
        <li><a class="" href="/contact">Contact</a></li>
        <li><a class="" href="/licensing">Licensing</a></li>
        <li><a class="" href="/extras">Extras</a></li>
        <li><a class="text-accent" href="/credits">Credits</a></li>
        <li><a class="" href="/privacy">Privacy</a></li>
      </ul>
    </nav>
  </header>
  <div class="flex-grow">
    <main>
      <div class="container py-0 w-full">
        <h1 class="text-4xl font-bold mb-4 text-text" style="font-size: 2.5rem; margin-bottom: 24px">
          Site Credits
        </h1>
        <p class="text-text" style="margin-bottom: 16px">
          This sitie was originally built with Astro, Tailwind, and
          TypeScript by George Baskerville. It was based on a template by
          Tahir Murata (now taken down). It has since been ported to Ruby on
          Rails. It still uses the
          <a href="https://fonts.google.com/specimen/Space+Mono" target="_blank" rel="noopener noreferrer"
            class="text-accent hover:underline">Space Mono</a>
          font.
          <a href="https://github.com/georgebaskervil/Personal-Website-Rails" target="_blank"
            rel="noopener noreferrer" class="text-accent hover:underline">The source code is available under MIT
            license.</a>
        </p>
      </div>
    </main>
  </div>
</div>