<div class="d-main">    
    <h1 class="d-h1">Site Data</h1>
    <p class="d-p">I started coding this up, but then realised that it would be easier to do with using an Umami Share URL. Here's the one metric that I did code up, and then here's the URLs for the rest.</p>
    <p class="d-p"><%= HttpReqCounter.first.count || 0 %> HTTP requests have been made to this site</p>
    <ul>
        <li><a href="https://analytics.geor.me/share/3CucbkHlgeEx01ui/geor.me" class="d-link">Umami share URL</a></li>
    </ul>
</div>
