<% content_for :specifcstylesheets do %>
  <%= vite_stylesheet_tag "~/stylesheets/taskstack.scss" %>
<% end %>

<div
  data-controller="turbo-mount"
  data-turbo-mount-component-value="App"
  data-turbo-mount-props-value="{}"
></div>
