<div
  data-controller="turbo-mount"
  data-turbo-mount-component-value="App"
  data-turbo-mount-props-value="{}"
>
  <div class="bg-background min-h-screen">
    <div class="text-text">Loading TaskStack...</div>
  </div>
</div>
