<h1 class="c-h1">
  Where to contact me:
</h1>
<p class="c-paragraph c-paragraph-heading">
  Since I'm boycotting Meta, here's a list of other platforms where you can
  find me:
</p>
<p class="c-paragraph c-paragraph-heading">
  This list is sorted by how often I check each platform.
</p>
<a href="https://x.com/georgebaskervil" target="_blank" class="c-link">X</a>
<p class="c-paragraph">
  <a
    href="https://signal.me/#eu/Ui1-KTmlgnCbNj491iq3HSOJtrkY1aVHm4n0v97dvkGDbCqWsExOu66Fzg7-7iC9"
    target="_blank"
    class="c-link"
  >Signal</a>
</p>
<p class="c-paragraph">
  <a href="https://t.me/georgebaskervil" target="_blank" class="c-link">Telegram</a>
</p>
<p class="c-paragraph">
  <a href="https://tumblr.com/georgebaskervil" target="_blank" class="c-link">Tumblr</a>
</p>
<p class="c-paragraph">
  <a
    href="https://www.reddit.com/user/I_am_a_ssquare_pixel/"
    target="_blank"
    class="c-link"
  >Reddit</a>
</p>
<p class="c-paragraph">
  <a
    href="https://discordapp.com/users/922956525662777454"
    target="_blank"
    class="c-link"
  >Discord</a>
</p>
