<!doctype html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/_astro/favicon.Cx_LjgYc.jpg" />
  <title>George Baskerville</title>
  <meta name="description" content="George Baskerville's personal website." />
  <meta property="og:title" content="George Baskerville" />
  <meta property="og:description" content="George Baskerville's personal website." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/_astro/icon.BsFpH_F6.jpg" />
  <meta property="og:url" content="https://georgebaskerville.me/contact/" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="https://georgebaskerville.me/sitemap-index.xml" />
  <link rel="stylesheet" href="/_astro/contact.CJUtR9d3.css" />
  <script type="module" src="/_astro/hoisted.AeAG-5qU.js"></script>
  <script type="module" src="/_astro/page.DFwqf4PB.js"></script>
</head>
<div class="background-animation"></div>
<html class="bg-base-100 text-base-content overflow-y-scroll" lang="en">

<body>
  <script src="/javascript/scrolllock-strict.js" defer></script>
  <div class="mx-auto min-h-screen flex flex-col gap-9 px-10 py-8 md:gap-20 md:py-8">
    <header class="flex w-full gap-3 md:gap-2 flex-row justify-between pb-5 md:pb-0">
      <a href="/" class="text-sm md:text-xl lg:text-xl whitespace-nowrap mr-4 text-text">George Baskerville</a>
      <nav class="text-xs md:text-sm lg:text-sm custom-breadcrumbs text-text">
        <ul>
          <li><a class="" href="/">Home</a></li>
          <li><a class="" href="https://blog.geor.me/">Posts</a></li>
          <li><a class="" href="https://pixelfed.geor.me/">Pictures</a></li>
          <li><a class="text-accent" href="/contact">Contact</a></li>
          <li><a class="" href="/licensing">Licensing</a></li>
          <li><a class="" href="/extras">Extras</a></li>
          <li><a class="" href="/credits">Credits</a></li>
          <li><a class="" href="/privacy">Privacy</a></li>
        </ul>
      </nav>
    </header>
    <div class="flex-grow">
      <main>
        <div class="container mx-auto w-full">
          <h1 class="text-4xl font-bold mb-4 text-text">
            Where to contact me:
          </h1>
          <p class="p-spacing text-text">
            Since I'm boycotting Meta, here's a list of other platforms where
            you can find me:
          </p>
          <p class="p-spacing text-text">
            This list is sorted by how often I check each platform.
          </p>
          <a href="https://x.com/georgebaskervil" target="_blank" class="text-accent no-underline hover:underline">X</a>
          <p>
            <a href="https://signal.me/#eu/Ui1-KTmlgnCbNj491iq3HSOJtrkY1aVHm4n0v97dvkGDbCqWsExOu66Fzg7-7iC9"
              target="_blank" class="text-accent no-underline hover:underline">Signal</a>
          </p>
          <p>
            <a href="https://t.me/georgebaskervil" target="_blank"
              class="text-accent no-underline hover:underline">Telegram</a>
          </p>
          <p>
            <a href="https://tumblr.com/georgebaskervil" target="_blank"
              class="text-accent no-underline hover:underline">Tumblr</a>
          </p>
          <p>
            <a href="https://www.reddit.com/user/I_am_a_ssquare_pixel/" target="_blank"
              class="text-accent no-underline hover:underline">Reddit</a>
          </p>
          <p>
            <a href="https://discordapp.com/users/922956525662777454" target="_blank"
              class="text-accent no-underline hover:underline">Discord</a>
          </p>
          <link rel="stylesheet" href="/styles/contact.css" />
        </div>
      </main>
    </div>
  </div>
  <link rel="stylesheet" href="/styles/globals.css" />
</body>

</html>