* {
  font-family: "SpaceMono", "SpaceMono-Compat", "SpaceMono-IE", "Courier-Modified";
}

@font-face {
  font-family: "Courier-Modified";
  src: local("Courier");
  font-display: swap;
  font-size: 15px;
  line-height: 1.7;
  visibility: visible;
  letter-spacing: 0.9px;
  font-weight: 400;
  word-spacing: -0.55px;
}

@font-face {
  font-family: "SpaceMono-IE";
  src: url("SpaceMono-Regular.eot") format("embedded-opentype");
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono-Compat";
  src: url("SpaceMono-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "SpaceMono";
  src: url("SpaceMono-Regular.woff2") format("woff2");
  font-display: swap;
}

html {
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  overflow: auto;
  background: #1a1b26;
}

.turbo-progress-bar{
  background: $accent;
}

.custom-breadcrumbs {
  max-width: 100%;
  overflow-x: auto;
  padding-top: 0.5%;
}

.custom-breadcrumbs > ul {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-height: min-content;
}

.custom-breadcrumbs > ul > li {
  display: flex;
  align-items: center;
}

.custom-breadcrumbs > ul > li > a {
  display: flex;
  cursor: pointer;
  align-items: center;
}

@media (hover: hover) {
  .custom-breadcrumbs > ul > li > a:hover {
    text-decoration-line: underline;
  }
}

.custom-breadcrumbs > ul > li > a:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.custom-breadcrumbs > ul > li > a:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.custom-breadcrumbs > ul > li + *:before {
  content: "/";
  margin-left: 0.5rem /* 8px */;
  margin-right: 0.75rem /* 12px */;
  display: block;
  opacity: 0.4;
  background-color: transparent;
}

[dir="rtl"] .custom-breadcrumbs > ul > li + *:before {
  --tw-rotate: -180deg;
}
