$accent: #ee7d82;
$box-shadow: rgb(0 0 0 / 20%);
$strong-box-shadow: rgb(0 0 0 / 80%);
$medium-box-shadow: rgb(0 0 0 / 50%);
$hp-primary: #989ef1;
$hp-secondary: #b09ffc;
$vulcan: #0f1420;
$mirage: #17202a;
$ebony: #0e0c23;
$background: #0e0e0e;
$glass: rgb(128 128 128 / 30%);
$glass-border: rgb(255 255 255 / 30%);
$progress-bar: #472a43;
$sp-primary: #c995a4;
$sidebar-icon: #808080;
$background-colour: #1a1b26;
$text: #c0caf5;
$neutral: #2d2a2a;
