<div class="e-main">
  <h1 class="e-h1">
    Extra Items
  </h1>
  <p class="e-p">
    This page contains various items that don't fit into the main
    categories of this site.
  </p>
  <p class="e-p">
    Number 1:
    <a class="e-link-1" , href="/netflixdobetter">Netflix, Do Better</a>
  </p>
  <p class="e-p">
    This is a meme page that I made for fun. It's a parody of the fact
    that, due to global includes, a test page that
    <a href="https://web.archive.org/web/20240423111505/netflix.com/helloworld" target="_blank"
      class="e-link-2">used to be on the Netflix website</a>
    that just contained an h1 tag with "Hello World !!" used 400kb of
    javascript. I managed to recreate the same thing in only ~140
    Bytes of HTML. It's just a joke and not affiliated with Netflix in
    any way.
  </p>
  <p class="e-p">
    Number 2:
    <a class="e-link-1" href="/waveform">Waveform Viewer</a>
  </p>
  <p class="e-p">
    This is a waveform viewer I made while researching audio
    compression algorithms for the
    <a href="https://content.neuralink.com/compression-challenge/README.html" target="_blank"
      class="e-link-2">NeuraLink compression challenge.</a>
  </p>
</div>
