<!doctype html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/_astro/favicon.Cx_LjgYc.jpg" />
  <title>George Baskerville</title>
  <meta name="description" content="George Baskerville's personal website." />
  <meta property="og:title" content="George Baskerville" />
  <meta property="og:description" content="George Baskerville's personal website." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/_astro/icon.BsFpH_F6.jpg" />
  <meta property="og:url" content="https://georgebaskerville.me/extras/" />
  <link rel="sitemap" type="application/xml" title="Sitemap" href="https://georgebaskerville.me/sitemap-index.xml" />
  <link rel="stylesheet" href="/_astro/contact.CJUtR9d3.css" />
  <script type="module" src="/_astro/hoisted.AeAG-5qU.js"></script>
  <script type="module" src="/_astro/page.DFwqf4PB.js"></script>
</head>
<div class="background-animation"></div>
<html class="bg-base-100 text-base-content overflow-y-scroll" lang="en">

<body>
  <script src="/javascript/scrolllock-strict.js" defer></script>
  <div class="mx-auto min-h-screen flex flex-col gap-9 px-10 py-8 md:gap-20 md:py-8">
    <header class="flex w-full gap-3 md:gap-2 flex-row justify-between pb-5 md:pb-0">
      <a href="/" class="text-sm md:text-xl lg:text-xl whitespace-nowrap mr-4 text-text">George Baskerville</a>
      <nav class="text-xs md:text-sm lg:text-sm custom-breadcrumbs text-text">
        <ul>
          <li><a class="" href="/">Home</a></li>
          <li><a class="" href="https://blog.geor.me/">Posts</a></li>
          <li><a class="" href="https://pixelfed.geor.me/">Pictures</a></li>
          <li><a class="" href="/contact">Contact</a></li>
          <li><a class="" href="/licensing">Licensing</a></li>
          <li><a class="text-accent" href="/extras">Extras</a></li>
          <li><a class="" href="/credits">Credits</a></li>
          <li><a class="" href="/privacy">Privacy</a></li>
        </ul>
      </nav>
    </header>
    <div class="flex-grow">
      <main>
        <div class="container py-0 w-full">
          <h1 class="text-4xl font-bold mb-4 text-text" style="font-size: 2.5rem; margin-bottom: 24px">
            Extra Items
          </h1>
          <p class="text-text" style="margin-bottom: 16px">
            This page contains various items that don't fit into the main
            categories of this site.
          </p>
          <p class="text-text" style="margin-bottom: 16px">
            Number 1:
            <a class="text-accent" , href="/netflixdobetter">Netflix, Do Better</a>
          </p>
          <p class="text-text" style="margin-bottom: 16px">
            This is a meme page that I made for fun. It's a parody of the fact
            that, due to global includes, a test page that
            <a href="https://web.archive.org/web/20240423111505/netflix.com/helloworld" target="_blank"
              class="text-accent no-underline hover:underline">used to be on the Netflix website</a>
            that just contained an h1 tag with "Hello World !!" used 400kb of
            javascript. I managed to recreate the same thing in only ~140
            Bytes of HTML. It's just a joke and not affiliated with Netflix in
            any way.
          </p>
          <p class="text-text" style="margin-bottom: 16px">
            Number 2:
            <a class="text-accent" href="/waveform">Waveform Viewer</a>
          </p>
          <p class="text-text" style="margin-bottom: 16px">
            This is a waveform viewer I made while researching audio
            compression algorithms for the
            <a href="https://content.neuralink.com/compression-challenge/README.html" target="_blank"
              class="text-accent no-underline hover:underline">NeuraLink compression challenge.</a>
          </p>
          <p class="text-text" style="margin-bottom: 16px">
            Number 3:
            <a class="text-accent" href="/waveform">Waveform Viewer React Rewrite</a>
          </p>
          <p class="text-text" style="margin-bottom: 16px">
            This was my attempt to learn react by rewriting the waveform
            viewer in it. The only thing I actually learned as a result is
            that I hate everything about react.
          </p>
        </div>
      </main>
    </div>
  </div>
  <link rel="stylesheet" href="/styles/globals.css" />
</body>

</html>