<div class="mx-auto min-h-screen flex flex-col gap-9 px-10 py-8 md:gap-20 md:py-8">
  <header class="flex w-full gap-3 md:gap-2 flex-row justify-between pb-5 md:pb-0">
    <a href="/" class="text-sm md:text-xl lg:text-xl whitespace-nowrap mr-4 text-text">George Baskerville</a>
    <nav class="text-xs md:text-sm lg:text-sm custom-breadcrumbs text-text">
      <ul>
        <li><a class="" href="/">Home</a></li>
        <li><a class="" href="https://blog.geor.me/">Posts</a></li>
        <li><a class="" href="https://pixelfed.geor.me/">Pictures</a></li>
        <li><a class="" href="/contact">Contact</a></li>
        <li><a class="" href="/licensing">Licensing</a></li>
        <li><a class="text-accent" href="/extras">Extras</a></li>
        <li><a class="" href="/credits">Credits</a></li>
        <li><a class="" href="/privacy">Privacy</a></li>
      </ul>
    </nav>
  </header>
  <div class="flex-grow">
    <main>
      <div class="container py-0 w-full">
        <h1 class="text-4xl font-bold mb-4 text-text" style="font-size: 2.5rem; margin-bottom: 24px">
          Extra Items
        </h1>
        <p class="text-text" style="margin-bottom: 16px">
          This page contains various items that don't fit into the main
          categories of this site.
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          Number 1:
          <a class="text-accent" , href="/netflixdobetter">Netflix, Do Better</a>
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          This is a meme page that I made for fun. It's a parody of the fact
          that, due to global includes, a test page that
          <a href="https://web.archive.org/web/20240423111505/netflix.com/helloworld" target="_blank"
            class="text-accent no-underline hover:underline">used to be on the Netflix website</a>
          that just contained an h1 tag with "Hello World !!" used 400kb of
          javascript. I managed to recreate the same thing in only ~140
          Bytes of HTML. It's just a joke and not affiliated with Netflix in
          any way.
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          Number 2:
          <a class="text-accent" href="/waveform">Waveform Viewer</a>
        </p>
        <p class="text-text" style="margin-bottom: 16px">
          This is a waveform viewer I made while researching audio
          compression algorithms for the
          <a href="https://content.neuralink.com/compression-challenge/README.html" target="_blank"
            class="text-accent no-underline hover:underline">NeuraLink compression challenge.</a>
        </p>
      </div>
    </main>
  </div>
</div>