<div
  data-controller="react-mount"
  data-react-mount-component-value="DeviceManagement"
>
  <div class="bg-background min-h-screen">
    <div class="text-text">Loading Device Management...</div>
  </div>
</div>
