<aside class="drawer-container" role="complementary" data-controller="drawer">
  <div class="drawer" aria-labelledby="drawer-title">
    <div class="drawer-header">
      <h2 id="drawer-title" class="drawer-title">CC-BY-4.0 Attribution</h2>
      <button
        class="drawer-toggle"
        type="button"
        data-action="drawer#toggle"
        aria-label="Toggle drawer"
      >
        <img
          src="<%= asset_path 'chevron-up.svg' %>"
          class="drawer-icons"
          loading="eager"
          decoding="async"
          fetchpriority="high"
          draggable="false"
          aria-hidden="true"
          tabindex="-1"
          data-drawer-target="icon"
        >
      </button>
    </div>
    <div class="drawer-contents" data-drawer-target="content">
      <div class="drawer-content-container">
        <div class="drawer-content">
          <p>I ❤️ projects under open licenses and want to give credit to the
            projects that made this site possible. Currently, this only
            includes projects where attribution is a license requirement, but I
            have plans to expand it in the future.</p>
          <ul class="drawer-ul-spacing">
            <li class="drawer-li-spacing">
              #1:
              <a
                href="https://github.com/twitter/twemoji?tab=readme-ov-file"
                class="drawer-link"
              >DOOM: Knee-deep in the dead</a>
              by
              <a href="https://idsoftware.com" class="drawer-link">id Software</a>
              licensed under
              <a
                href="https://github.com/ChrisJan00/WarrensDream/blob/master/doom-wad-shareware-license.txt"
                class="drawer-link"
              >DOOM: Knee-deep in the dead shareware license</a>
            </li>
            <!-- Splitter for clarity -->
            <li class="drawer-li-spacing">
              #2:
              <a
                href="https://github.com/twitter/twemoji?tab=readme-ov-file"
                class="drawer-link"
              >Libreverse-Twemoji (Graphics only)</a>
              modified from
              <a
                href="https://github.com/twitter/twemoji?tab=readme-ov-file"
                class="drawer-link"
              >Twemoji (Graphics only)</a>
              by
              <a href="https://x.com" class="drawer-link">X Corp</a>
              licensed under
              <a
                href="https://raw.githubusercontent.com/twitter/twemoji/refs/heads/master/LICENSE-GRAPHICS"
                class="drawer-link"
              >CC-BY-4.0</a>
            </li>
            <!-- Splitter for clarity -->
            <li class="drawer-li-spacing">
              #3:
              <a
                href="https://github.com/twitter/twemoji?tab=readme-ov-file"
                class="drawer-link"
              >Angular Icons</a>
              by
              <a href="https://dennissnellenberg.com/" class="drawer-link">Dennis Snellenberg</a>
              licensed under
              <a href="https://creativecommons.org/licenses/by/3.0/" class="drawer-link">CC-BY-3.0</a>
            </li>
            <!-- Splitter for clarity -->
            <li class="drawer-li-spacing">
              #4:
              <a href="https://www.youtube.com/watch?v=yIaTvWlWpCs" class="drawer-link">GLITTER SOAP CUTTING ASMR #10 *no talking*</a>
              by
              <a href="https://www.youtube.com/@WELOVESOAPASMR" class="drawer-link">YouTube user WE LOVE SOAP ASMR</a>
              licensed under
              <a href="https://creativecommons.org/licenses/by/3.0/" class="drawer-link">CC-BY-3.0</a>
            </li>
            <!-- Splitter for clarity -->
            <li class="drawer-li-spacing">
              #5:
              <a href="https://www.youtube.com/watch?v=QqLeMwHp7xI" class="drawer-link">FREE TO USE GAMEPLAY - NO COMMENTARY - SUBWAY SURFERS - NEW
                RECORD (Vertical)</a>
              by
              <a href="https://www.youtube.com/@non-copyright-gameplay" class="drawer-link">YouTube user NON COPYRIGHT GAMEPLAY</a>
              licensed under
              <a href="https://creativecommons.org/licenses/by/3.0/" class="drawer-link">CC-BY-3.0</a>
            </li>
            <!-- Splitter for clarity -->
            <li class="drawer-li-spacing">
              #6:
              <a href="https://www.youtube.com/watch?v=FXzWKqMPHI0" class="drawer-link">Minecraft Parkour Gameplay | Vertical | No Copyright | 31</a>
              by
              <a href="https://www.youtube.com/@GameplaysForFree-hr9bs" class="drawer-link">YouTube user GameplaysForFree</a>
              licensed under
              <a href="https://creativecommons.org/licenses/by/3.0/" class="drawer-link">CC-BY-3.0</a>
            </li>
            <!-- Splitter for clarity -->
            <li class="drawer-li-spacing">
              #7:
              <a href="https://www.youtube.com/watch?v=z121mUPexGc" class="drawer-link">GTA 5 MEGA RAMP ▸ NO COPYRIGHT GAMEPLAY | 4K 60FPS | 469</a>
              by
              <a href="https://www.youtube.com/@DopeGameplays" class="drawer-link">YouTube user Dope Gameplays</a>
              licensed under
              <a href="https://creativecommons.org/licenses/by/3.0/" class="drawer-link">CC-BY-3.0</a>
            </li>
            <!-- Splitter for clarity -->
            <li class="drawer-li-spacing">
              #8:
              <a
                href="https://www.newgrounds.com/art/view/drakesukz/in-the-deep-end"
                class="drawer-link"
              >In the deep end</a>
              by
              <a href="https://www.youtube.com/@DopeGameplays" class="drawer-link">newgrounds user DrakeSukz</a>
              licensed under
              <a href="https://creativecommons.org/licenses/by/3.0/" class="drawer-link">CC-BY-3.0</a>
            </li>
          </ul>
          <p>Find out more
            <a href="credits" class="drawer-link">here</a>.</p>
        </div>
      </div>
    </div>
  </div>
</aside>
