<aside
  id="floating-window-1"
  class="floating-window window98"
  data-distractionmode-target="window"
  style="display: none;"
>
  <div class="title-bar">
    <span class="title-bar-text">0_o → Soap cutting video</span>
  </div>
  <div class="window-body">
    <video
      id="vid1"
      width="600"
      height="300"
      controls="true"
      playsinline="true"
      preload="auto"
      fetchpriority="low"
      loading="lazy"
      loop="true"
      data-controller="hls"
      x-webkit-airplay="deny"
      disablepictureinpicture="true"
      disableremoteplayback="true"
      data-distractionmode-target="video"
    >
      <source
        src="<%= asset_url('soapcarving-optimised.m3u8') %>"
        type="application/x-mpegURL"
      >
    </video>
  </div>
</aside>

<aside
  id="floating-window-2"
  class="floating-window window98 window-width-override"
  data-controller="doom-cube"
  data-distractionmode-target="window"
  style="display: none;"
>
  <div class="title-bar">
    <span class="title-bar-text">The cube of DOOM™</span>
  </div>
  <div class="window-body" data-doom-cube-target="root">
    <canvas
      class="doom-canvas"
      data-doom-cube-target="canvas"
      width="548"
      height="308"
      style="display: block;"
    ></canvas>
    <p>See the
      <a href="/doomdisclaimer">doom disclaimer</a>
    </p>
  </div>
</aside>

<aside
  id="floating-window-3"
  class="floating-window window98"
  data-distractionmode-target="window"
  style="display: none;"
>
  <div class="title-bar">
    <span class="title-bar-text">Skibidi Subway Surfers gameplay</span>
  </div>
  <div class="window-body">
    <video
      id="vid2"
      width="600"
      height="300"
      controls="true"
      playsinline="true"
      preload="auto"
      fetchpriority="low"
      loading="lazy"
      loop="true"
      data-controller="hls"
      x-webkit-airplay="deny"
      disablepictureinpicture="true"
      disableremoteplayback="true"
      data-distractionmode-target="video"
    >
      <source
        src="<%= asset_url('subwaysurfers-optimised.m3u8') %>"
        type="application/x-mpegURL"
      >
    </video>
  </div>
</aside>

<aside
  id="floating-window-4"
  class="floating-window window98"
  data-distractionmode-target="window"
  style="display: none;"
>
  <div class="title-bar">
    <span class="title-bar-text">UwU GTA Ramp</span>
  </div>
  <div class="window-body">
    <video
      id="vid3"
      width="600"
      height="300"
      controls="true"
      playsinline="true"
      preload="auto"
      fetchpriority="low"
      loading="lazy"
      loop="true"
      data-controller="hls"
      x-webkit-airplay="deny"
      disablepictureinpicture="true"
      disableremoteplayback="true"
      data-distractionmode-target="video"
    >
      <source
        src="<%= asset_url('gta-optimised.m3u8') %>"
        type="application/x-mpegURL"
      >
    </video>
  </div>
</aside>

<aside
  id="floating-window-5"
  class="floating-window window98"
  data-distractionmode-target="window"
  style="display: none;"
>
  <div class="title-bar">
    <span class="title-bar-text">Minecraft Parkour :3</span>
  </div>
  <div class="window-body">
    <video
      id="vid4"
      width="600"
      height="300"
      controls="true"
      playsinline="true"
      preload="auto"
      fetchpriority="low"
      loading="lazy"
      loop="true"
      data-controller="hls"
      x-webkit-airplay="deny"
      disablepictureinpicture="true"
      disableremoteplayback="true"
      data-distractionmode-target="video"
    >
      <source
        src="<%= asset_url('mc-optimised.m3u8') %>"
        type="application/x-mpegURL"
      >
    </video>
  </div>
</aside>
