<footer class="site-footer">
  <p class="footer-link-box">
    See the
    <a href="/licensing" class="footer-link" rel="noopener">credits page</a>
    for licensing information. Powered by Ruby, Coffee and Alternative Rock.
    Enjoy your
    <%= Date.today.strftime("%A") %>!
  </p>
</footer>
