<noscript>
  <div class="noscript">
    <span>
      I believe that JavaScript should be optional on the web, so while this
      site works best with JavaScript enabled, I've tried to make sure that it
      works with it disabled too. However, there are many situations in which
      it's not possible to provide a JavaScript-feee experience like 3D things
      that use WebGL. Therefore, please be warned that some features will not
      work at all. The web document-type content (posts, images, etc.) should
      still be available though.
    </span>
  </div>
</noscript>
